<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="container">
                <a href="/ideas/newidea" class="btn btn-primary mb-2">Nova ideia</a>
                <table class="table">
                    <tbody>
                        <% allIdeas.forEach(idea => { %>
                                <tr>
                                    <th scope="row"><a href="/ideas/<%=idea.id%>"><%=idea.title%></a></th>
                                    <td><%=idea.description%></td>
                                    <td><%=idea.user.name%></td>
                                    <% if (userLogged.id == idea.user.id || userLogged.admin) { %>
                                        <td><a class="btn btn-warning" href="/ideas/edit/<%-idea.id%>">Editar</a></td>
                                    <% } %>
                                </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 