
<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-8">
                <div class="card">
                    <div class="card-header text-secondary">
                        <h5>
                            Editar Vale
                        </h5>
                    </div>
                    <div class="card-body">
                        <form class="form-group" method="POST" action="/financeiro/edit/save">
                            <input class="form-control" type="number" name="value" id="value" step="any" placeholder="<%= vale.value %>">
                            <input class="form-control mt-2" type="text" name="description" id="description" placeholder="<%= vale.description %>">
                            <input type="hidden" name="id" id="id" value="<%= vale.id %>">
                            <button class="btn btn-success mt-2" type="submit">Editar</button>
                        </form>
                    </div>
                </div>
                 <% if (userLogged.id == vale.userId || userLogged.admin == true) { %>
                    <form action="/financeiro/delete" method="POST">
                        <input type="hidden" name="id" id="id" value="<%= vale.id %>">
                        <input type="hidden" name="userId" id="userId" value="<%=vale.userId%>">
                        <button class="btn btn-outline-danger mt-2 btn-block">Apagar Vale</button>
                    </form>
                 <% } %>
            </div>
        </div>
    </div>
</body>